@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

* {
    box-sizing: border-box;
    color: white;
    margin: 0px;
    padding: 0px;
}


html {
    margin: 0px;
    padding: 0px;
}

body {
    width: auto;
    height: auto;
    /* margin: 50px; */
    background-image: url(Media/blue\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* div.bg img {
    position: absolute;
    height: auto;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
} */

div.logo a img {
    position: absolute;
    margin: 15px 0px 0px 15px;
    height: 66px;
    width: auto;
    z-index: 5;
}

div.logo a img:hover {
    border: 2px solid grey;
    border-radius: 33px;
}

#nav {
    position: absolute;
    float: right;
    right: 25px;
    top: 25px;
    z-index: 1;
}

#nav span a {
    text-decoration: none;
    font-size: 22px;
    font-family: cursive;
    font-weight: 500;
    padding: 10px 15px 10px 15px ;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.6s;
}

#nav span a:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
    /* border: 1px solid black; */
}

@media screen and (min-width:650px) and (max-width:800px) {
    #nav span a {
        padding: 5px 9px 5px 9px;
        font-size: 20px;
    }
}

@media screen and (min-width:550px) and (max-width:650px) {
    #nav span a {
        padding: 3px 6px 3px 6px;
        font-size: 19px;
    }
}

@media screen and (max-width:550px) {
    #nav span a {
        padding: 2px 4px 2px 4px;
        font-size: 17px;
    }
}

@media screen and (min-height: 1200px) {
    #nav span a  {
        padding: 10px 18px 10px 18px ;
        font-size: 40px;
    }
}

div.content{
    position: relative;
    width: 80%;
    height: auto;
    margin: 2.5% 10% 2.5% 10%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(100,100,255,0.3);
    /* padding: 10px; */
    /* margin: 30px; */
    border: 6px solid black;
    border-radius: 25px;
}

@media screen and (min-width: 450px) and (max-width: 600px) {
    div.content {
    width: 90%;
    margin: 2.5% 5% 2.5% 5%;
    }
}

@media screen and (min-width: 200px) and (max-width: 450px) {
    div.content {
    width: 95%;
    margin: 2.5% 2.5% 2.5% 2.5%;
    }
}

div.aboutme {
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 100px;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}

div.aboutme h1 {
    margin: 0px;
    text-align: center;
    font-size: 90px;
    font-family: 'East Sea Dokdo';
    color: white;
    font-weight: bold;
}

div.myimg {
    position: relative;
    height: auto;
    width: auto;
    /* top: 225px; */
    /* left: 50%; */
    /* transform: translateX(-73.5px) translateY(-40px); */
    /* padding-top: 250px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

div.myimg img {
    position: relative;
    height: 150px;
    width: auto;
    /* border-radius: 50%; */
    margin: 16px 8px 0px 8px;
    z-index: 5;
    /* align-items: center;
    justify-content: center; */
}

div.text {
    position: relative;
    height: auto;
    width: 100%;
    /* margin-top: 200px; */
    font-family: cursive;
    /* background-color: chartreuse; */
}

div.text span.name {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 35px;
    font-family: 'East Sea Dokdo';
    /* top: 200px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.text div.lorem {
    position: relative;
    /* width: 100%; */
    height: fit-content;
    padding: 20px 120px 20px 120px;
    /* top: 200px; */
    text-align: left;
    /* font-family: 'Trebuchet MS'; */
    /* background-color: chartreuse; */
}

span.title {
    font-size: 19px;
    text-transform: uppercase;
    padding: 4px 12px 4px 12px;
    border-radius: 18px;
    background-color:white;
    color: black;
    /* letter-spacing: 1px; */
    /* font-family: 'Hachi Maru Pop'; */
    font-family: 'Potta One';
    /* text-decoration: underline; */
}

span.school {
    box-sizing: content-box; 
    font-size: 17px;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    /* padding: 4px 8px 4px 8px; */
    /* border: 1px dotted black; */
    /* border-radius: 10px; */
    /* background-color: rgb(20,20,20); */
    color: rgb(200,200,200);
    /* margin: 4px 0px 8px 0px; */
    /* background-color:darkblue; */
    text-decoration: underline;
}


span.web-link {
    font-size: 17px;
    word-break: break-all;
}

span.web-link a {
    font-family: 'Trebuchet MS';
    text-decoration: underline;

}

span.web-link a:hover {
    text-decoration: none;

}

hr {
    border: 1px dotted white;
}

@media screen and (min-width: 700px) and (max-width:800px) {
    div.text div.lorem {
        padding: 20px 80px 20px 80px;
    }
}

@media screen and (min-width: 500px) and (max-width:700px) {
    div.text div.lorem {
        padding: 20px 60px 20px 60px;
    }
}

@media screen and (min-width: 200px) and (max-width:500px) {
    div.text div.lorem {
        padding: 20px 40px 20px 40px;
    }
}

@media screen and (max-width:200px) {
    div.text div.lorem {
        padding: 20px 10px 20px 10px;
    }
}








div.foot  {
    position: relative;
    width: 100%;
    height: auto;
    font-family: 'Trebuchet MS';
    padding: 8px;
    bottom: 0px;
}

div.links {
    position: relative;
    /* height: 20px; */
    width: auto;
    z-index: 5;
    top: 0px;
}

div.links a {
    display: inline-block;
    padding-right: 4px;
    /* height: 20px; */
    text-decoration: none;
    /* transform: scale(1); */
    transition: 0.5s;
}

div.links a:hover {
    transform: translateY(-10px);
}

div.links a img, div.links img {
    width: 20px;
}

div.copyright {
    position: relative;
    bottom: 0px;
    font-weight: 500;
    z-index: 5;
    color: black;
}

div.copyright a {
    text-decoration: none;
    color: black;
}

div.copyright a:hover {
    cursor: pointer;
}
