@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Hachi+Maru+Pop&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS';

}

body {
    width: auto;
    height: auto;
    /* background-color: rgba(0,0,255,1); */
    /* background-color: #03a9f4; */
    /* z-index: 10; */
    mix-blend-mode: overlay;
}

video { 
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    /* opacity: 0.9; */
}

div.logo img {
    position: absolute;
    margin: 7px 0px 0px 7px;
    height: 66px;
    width: auto;
    z-index: 5;
}

div.logo img:hover {
    border: 2px solid black;
    border-radius: 33px;
}

div.head {
    position: absolute;
    text-align: center;
    width: 100%;
    /* height: 100%; */
    /* align-items: center; */
    top: 30%;
    z-index: 5;
}

div.head h1 {
    font-size: 120px;
    font-family: 'East Sea Dokdo';
    font-weight: 600;
    top:50%;
    /* letter-spacing: 1px; */
    /* text-transform: uppercase; */
    /* font-family: 'Trebuchet MS'; */
}


@media screen and (max-width: 400px) {

    div.head h1 {   
        font-size: 90px;
        line-height: 60px;
        /* color: yellow; */
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {

    div.head h1 {
        font-size: 100px;
        line-height: 80px;
        /* color: yellow; */
    }
}

@media screen and (min-width: 601px) and (max-width: 700px) {

    div.head h1 {
        font-size: 100px;
        line-height: 80px;
        /* color: yellow; */
    }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {

    div.head h1 {
        font-size: 120px;
    }
}

@media screen and (min-height: 1200px) {
    div.head h1 {
        font-size: 180px;
    }
}

#nav {
    position: absolute;
    float: right;
    right: 10px;
    top: 15px;
    z-index: 5;
}

#nav span a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-family: cursive;
    font-weight: 500;
    padding: 10px 15px 10px 15px ;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.6s;
}

#nav span a:hover {
    background-color: white;
    text-decoration: underline;
    /* border: 1px solid black; */  
}

@media screen and (min-width:600px) and (max-width:700px) {
    #nav span a {
        padding: 5px 9px 5px 9px;
        font-size: 20px;
    }
}

@media screen and (min-width:450px) and (max-width:600px) {
    #nav span a {
        padding: 3px 6px 3px 6px;
        font-size: 19px;
    }
}

@media screen and (max-width:450px) {
    #nav span a {
        padding: 2px 4px 2px 4px;
        font-size: 17px;
    }
}

@media screen and (min-height: 1200px) {
    #nav span a  {
        padding: 10px 18px 10px 18px ;
        font-size: 40px;
    }
}


div.foot {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 8px;
    /* top: 100%; */
    bottom: 0px;
    /* bottom: 5px; */
    /* left: 5px; */
}

div.links {
    position: relative;
    /* height: 20px; */
    width: auto;
    z-index: 5;
    top: 0px;
}

div.links a {
    display: inline-block;
    padding-right: 4px;
    /* height: 20px; */
    text-decoration: none;
    /* transform: scale(1); */
    transition: 0.5s;
}

div.links a:hover {
    transform: translateY(-10px);
}

div.links a img {
    width: 20px;
}

div.copyright {
    position: relative;
    bottom: 0px;
    font-weight: 500;
    z-index: 5;
}

div.copyright a {
    text-decoration: none;
    color: black;
}

div.copyright a:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    footer div.foot {
        font-size: 16px;
    }
}

@media screen and (min-height: 1200px) {
    footer div.foot  {
        font-size: 30px;
    }
    footer div.foot div.links a img {
        height: 35px;
        width: auto;
    }
}
